perfil {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
perfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.profile-info {
  font-size: 18px;
}
h1 {
  color: black;
  margin: 0;
  margin-bottom: 10px;
  font-style:italic;
}
p {
  margin: 0;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
  margin-bottom: 5px;
}
