.autocomplete, autocompletar{
  display: block;
}
auto{
 font-size:18px;
 text-align:center;
 text-transform:capitalize;
 width:100%;
}
.autocomplete-items, .autocomplete-items-fixed{
 color: white;
 border-width: 5px;
 border-style: solid;
 border-color: silver;
background-color: black;
}

.autocomplete-items div{
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.autocomplete-items div:hover {
  color: red;
  background-color: green;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: white;
}


telapayment{
  min-width: 50%;
  background-color: white;
  border: 3px solid silver;
  border-radius: 25px;
  padding: 16px;
  display: block;
}

/* Cidades */
#cidades{
 transform:translatex(0px) translatey(18px);
 padding-top:16px;
}

/* Input */
#adr{
 transform:translatex(0px) translatey(32px);
}

/* Email */
#email{
 transform:translatex(0px) translatey(25px);
}

/* Fname */
#fname{
 transform:translatex(0px) translatey(30px);
}



.input-dados{
  text-align: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid silver;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
  transform:translatex(6px) translatey(-4px);
 height:24px;
 padding-bottom:0px;
 margin-bottom:0px;
 position:relative;
 top:2px;
}

.icon-container {
  text-align: center;
  align-items: center;
  font-size: 30px;
}

.btn-payment{
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn-payment:hover {
  background-color: lightgreen;
}

.price2{
  background: gray;
  border: 2px solid black;
  float: right;
  align-items: center;
  color: black;
  display: inline;
  padding: 5px;
}
.price{
  float: right;
  color: green;
  display: inline;
}
