/* footer grid */
footer {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 100%;
  font-size: 15pt;
  text-align: center;
  padding: 50px;
  border-top: 5px solid white;
  max-width: 100%;
  justify-content: center;
  gap: 15px;
}
.footer-gray {
  background: gray;
  font-size: 17pt;
}
.footer.links {
  padding: 40px;
  white-space: nowrap;
}
.footer-dev {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  width: 100%;
  color: white;
}
footer .load,
footer div.load,
footer js.load {
  width: 50px;
  height: 50px;
  border: 6px solid #e5e5e5;
  border-top: 6px solid #51d4db;
  border-radius: 50%;
  animation: roda 1.5s infinite;
}

.direitos {
  min-width: 25%;
  font-size: 18px;
  color: yellow;
  text-align: center;
  border: none;
  cursor: help;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.direitos .devs h4 {
  font-size: 20px;
  color: orange;
}

.direitos .contato {
  color: white;
  font-size: 30px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.direitos .contato a {
  color: white;
}

@keyframes roda {
  to {
    transform: rotate(360deg);
  }
}

.avaliacoes {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avaliacoes #avalie {
  margin: 10px 50px;
  color: cadetblue;
}

.avaliacoes #desenv {
  text-align: center;
}

.avaliacoes #desenv a {
  text-decoration: none;
  color: cadetblue;
  transition: all 0.3s ease;
}

.avaliacoes #desenv a:hover {
  color: #ffffff;
  border-bottom: 3px solid cadetblue;
}

.avaliacoes #desenv a.externo::after {
  content: "\1F517";
}

.avaliacoes .avaliacao {
  display: flex;
  gap: 4px;
  margin: 0 65px;
  justify-content: center;
}

.avaliacoes .estrelas {
  color: gold;
  list-style-type: none;
  border: none;
  font-size: 30px;
}

.avaliacoes .estrelas::before {
  content: "\2605";
}

.avaliacoes .estrelas.ativo ~ .estrelas::before {
  content: "\2606";
}

#texto-de-avaliacao {
  cursor: pointer;
  background-color: transparent;
  padding-left: 50px;
}

#mensagem {
  background-color: cadetblue;
  color: #000000;
  font-size: 26px;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.hide {
  display: none;
  opacity: 0;
}

#btn {
  background-color: cadetblue;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#btn:hover {
  background-color: #ffffff;
  box-shadow: 3px 0px 6px cadetblue;
}

@keyframes roda {
  to {
    transform: rotate(360deg);
  }
}
