[rgb]{
animation: ani-rbg 5s infinite;
}
.linear-gradient{
font-family: "Roboto",sans-serif, arial;
background-image: linear-gradient(60deg,red,blue,purple);
  animation: auto-deg 1s infinite linear;
}

@keyframes ani-rgb{
  0%{
    border-color: red;
    color: red;
  }
  14%{
    border-color: blue;
    color: blue;
  }
  28%{
    border-color: green;
    color: green;
  }
  42%{
    border-color: yellow;
    color: yellow;
  }
  56%{
    border-color: orange;
    color: orange;
  }
  70%{
    border-color: gray;
    color: gray;
  }
  84%{
    border-color: white;
    color: white;
  }
  98%{
    border-color: purple;
    color: purple;
  }
}